language: node_js
node_js:
- 10
cache:
  yarn: true
  directories:
  - node_modules
addons:
  sonarcloud:
    organization: "xyo-network"
install:
- yarn install
script:
- yarn build
- sonar-scanner
env:
  global:
    secure: oD0XNsXH39uawquoChP+D71wDONkTd7S/VQ6HURL9VKYdHkNv9AJrtDCqTBULItAGjLWmDQemBztN/kS7azphaaCucZtb84Ro+PedOqL/dM+r/p6HU0h4Ec8CtzljvLn3mLMSJQq5gBfIVY5nNKkCZChA3DpolGFYWzvunZiYU5JznMKpRqQxhturMkLcdBMV2VF+CJxy7WMA/6+ZHj9AkVG65RnjuKsZhfariRs3LiY9300BtuO0fmx138IwfN+kxK/50x02l6O7bzknfIXLe3XRasXeBdTm690YwkmJBBRhcfnBvcaasKqz7b/ttI+NBf0VXmHR3S9JBvQ0Rt4UMTfVQv4DOtieEqj+9wuJemXs+xEBwBZndX1aUgm3kgqKEzWnIkFA48XnwChADkTAePzvm4STNAoDMKJxmphwTDqcG69ivtoM74xJ3oActKwMpQCukyTprufRgGF676M33YdKCsx99AKId2WGr0FTL7OESLByGWM0mpksxm2z19ivgoWXpiEUwtqU9fgBb8xxB19hEJcadxSItNLYOgFxlMFD8Wl0puSvf/Yhtu3YuCBX1Paf0QhUmUMwyC2apNDPtQ7WC9x6SQVuscDvp40dcuT0DHkz3M1OcN3eNCgonphXVrUFEp2Lq4KGOivLCXWUNT/mhrgYoIS9I0/U778QHE=
